body{
    background-color: #00bcd4;
    padding: 0;
    margin: 0;

}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.gameBox{
    width: 50vh;
    height: 30.9vh;
    border: 3px solid black;
}
.title{
    color: white;
    font-weight: bolder;
}